@inject ISnackbar Snackbar
@using MudBlazor.Extensions
@using MudBlazor.Components
@using MudExtensions.Enums
@using MudExtensions.Utilities

<MudStack Row="true" Class="d-flex xs-11 pa-2 align-start justify-start">
	<MudIconButton Icon="@Icons.Material.TwoTone.RestartAlt" Color="Color.Primary" Size="Size.Large" OnClick="(ResetWizard)">Reset</MudIconButton>
	<MudStepper @ref="_stepper" Class="d-flex xs-11 pa-2 justify-start" Linear="true" Vertical="true"
	            PreventStepChangeAsync="new Func<StepChangeDirection, int, Task<bool>>(CheckChange)" HeaderSize="Size.Large" Variant="Variant.Filled" Color="Color.Primary"
	            HeaderTextView="HeaderTextView.All">
		<ChildContent>
			<MudStep Icon="@Icons.Material.TwoTone.ControlCamera" Title="Choose Reference Tracker" StatusChanged="StatusChanged" Order="0">
				<TrackerPicker @ref="_trackerForm" />
			</MudStep>
			<MudStep Title="Booking Spec." Icon="@Icons.Material.TwoTone.MoreVert" Optional="true" Order="1">
				<ChildContent>
					<MudCheckBox T="bool" Label="Early Check-in"/>
					<MudCheckBox T="bool" Label="Late Check-out"/>
					<MudCheckBox T="bool" Label="Twin Bed"/>
				</ChildContent>
			</MudStep>
			<MudStep Icon="@Icons.Material.TwoTone.Money" Title="Payment" Order="2">
				<ChildContent>
					<MudForm @ref="_form2">
						<MudStack>
							<MudTextField T="string" Label="Card Number" Variant="Variant.Filled" Required="true"/>
							<MudStack Row="true">
								<MudTextField T="string" Label="Expire Date" Required="true"/>
								<MudTextField T="string" Label="CVC" Required="true"/>
							</MudStack>
						</MudStack>
					</MudForm>
				</ChildContent>
			</MudStep>
			@if (_addResultStep)
			{
				<MudStep Icon="@Icons.Material.TwoTone.Alarm" Title="Result Step" IsResultStep="true">
					<ChildContent>
						<div class="d-flex flex-column align-center justify-center" style="height: 200px">
							<MudIconButton Icon="@Icons.Material.Filled.DoneAll" Size="Size.Large" Variant="Variant.Filled" Color="Color.Success"/>
							<MudText>Your reservation successfully completed.</MudText>
						</div>
					</ChildContent>
				</MudStep>}
		</ChildContent>
	</MudStepper>
</MudStack>

@code {
	[CascadingParameter]
	private bool Advanced
	{
		get => _advanced;
		set
		{
			_advanced = value;
			StateHasChanged();
		}
	}

	public void ResetWizard()
	{
		_stepper?.Reset();
		_trackerForm.Reset();
		_tracker = "";
	}

	private bool _advanced;
	MudStepper? _stepper = new();
	
	// Tracker selection
	TrackerPicker _trackerForm = new();
	ConfigEntry? _trackerEntry;
	private string _tracker = "";
	public String SelectedTracker
	{
		get => _tracker;
		set
		{
			if (value == _tracker)
			{
				return;
			}
			// TODO: reset necessary options
			_tracker = value;
			_trackerEntry = new ConfigEntry("Default", "tracker", "type", _tracker);
		}
	}

    MudForm _form2 = new();
    bool _checkValidationBeforeComplete = true;
    bool _addResultStep = true;
    bool _loading;
    private async Task<bool> CheckChange(StepChangeDirection direction, int targetIndex)
    {
        if (_checkValidationBeforeComplete == true)
        {
            // always allow stepping backwards
            if (direction == StepChangeDirection.Backward)
            {
                return false;
            }
            if (_stepper?.GetActiveIndex() == 0)
            {
	            await _trackerForm.Validate();
	            StateHasChanged();
				return !_trackerForm.IsValid();
            }
            else if (_stepper?.GetActiveIndex() == 2)
            {
                _loading = true;
                StateHasChanged();
                await Task.Delay(1000);
                await _form2.Validate();
                _loading = false;
                StateHasChanged();
                return !_form2.IsValid;
            }
            else
            {
                return false;
            }
        }
        else
        {
            return false;
        }
    }

    private void StatusChanged(StepStatus status)
    {
        Snackbar.Add($"First step {status.ToDescriptionString()}.", Severity.Info);
    }
}